fastapi
uvicorn
python-multipart      # for handling file uploads
python-dotenv
passlib[bcrypt]
PyMySQL      # MySQL driver
SQLAlchemy      # ORM
python-jose[cryptography]     # for JWT authentication
pydantic